# ----------------------------
# Python
# ----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3

# ----------------------------
# Virtual environments
# ----------------------------
.venv/
venv/
env/

# ----------------------------
# Airflow
# ----------------------------
airflow_home/
airflow.db
logs/

# ----------------------------
# Data (IMPORTANT)
# ----------------------------
data/
*.parquet
*.delta
*.csv

# ----------------------------
# Notebooks checkpoints
# ----------------------------
.ipynb_checkpoints/

# ----------------------------
# Environment variables
# ----------------------------
.env

# ----------------------------
# OS / IDE
# ----------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# ----------------------------
# Docker
# ----------------------------
*.tar